//! **************************************************************************
// Written by: Map P.20131013 on Sun Jan 28 00:08:40 2024
//! **************************************************************************

SCHEMATIC START;
COMP "HS" LOCATE = SITE "P87" LEVEL 1;
COMP "VS" LOCATE = SITE "P85" LEVEL 1;
COMP "DOT" LOCATE = SITE "P78" LEVEL 1;
PIN DOT_pin<0> = BEL "DOT" PINNAME PAD;
PIN "DOT_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "DASH" LOCATE = SITE "P75" LEVEL 1;
COMP "RESET" LOCATE = SITE "P74" LEVEL 1;
COMP "SPACE" LOCATE = SITE "P67" LEVEL 1;
COMP "RED<0>" LOCATE = SITE "P79" LEVEL 1;
COMP "RED<1>" LOCATE = SITE "P80" LEVEL 1;
COMP "CLK_25MHz" LOCATE = SITE "P50" LEVEL 1;
COMP "LED2" LOCATE = SITE "P131" LEVEL 1;
COMP "LED3" LOCATE = SITE "P127" LEVEL 1;
COMP "GREEN<0>" LOCATE = SITE "P81" LEVEL 1;
COMP "GREEN<1>" LOCATE = SITE "P82" LEVEL 1;
COMP "BLUE<0>" LOCATE = SITE "P83" LEVEL 1;
COMP "BLUE<1>" LOCATE = SITE "P84" LEVEL 1;
COMP "LED" LOCATE = SITE "P132" LEVEL 1;
SCHEMATIC END;

